<!-- Section: inner-header -->
<section class="inner-header divider parallax layer-overlay overlay-dark-5" data-bg-img="/hcmut/images/bg/slide1.jpg">
    <div class="container pt-70 pb-20">
        <!-- Section Content -->
        <div class="section-content">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="title text-white">CHI TIẾT BÀI VIẾT</h1>
                    <ol class="breadcrumb text-left text-black mt-10">
                        <li><%= link_to 'Trang Chủ', erp_hcmut.root_path %></li>
                        <li><%= link_to 'Tin Tức', erp_hcmut.blog_listing_path %></li>
                        <li class="active text-gray-silver">Chi Tiết Bài Viết</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Section: Blog -->
<section>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="blog-posts single-post">
                    <article class="post clearfix mb-0">                        
                        <div class="entry-title pt-10 pl-15 text-justify">
                            <h2>
                                <%= link_to '5 LÍ DO CÁC DOANH NGHIỆP NÊN SỬ DỤNG DỊCH VỤ QUYẾT TOÁN THUẾ TẠI CHÚNG TÔI', erp_hcmut.blog_detail_path, title: '', class: 'text-uppercase' %>
                            </h2>
                        </div>
                        <div class="entry-meta pl-15">
                            <ul class="list-inline">
                                <li><i class="fa fa-clock-o ml-5 mr-5"></i> 08-11-1994</li>
                                <li><i class="fa fa-user ml-5 mr-5"></i> Quản trị viên</li>
                                <li><i class="fa fa-folder ml-5 mr-5"></i> Tin Tức</li>
                            </ul>
                        </div>
                        <div class="entry-header">
                            <div class="post-thumb thumb">
                                <img src="/hcmut/images/bg/bg1.jpg" alt="" class="img-responsive img-fullwidth">
                            </div>
                        </div>
                        <div class="entry-content mt-10 text-justify">
                            <p>- Click 49 là đơn vị có thời gian thành lập lâu năm với kinh nghiệm chuyên nghiệp nhất về các vấn đề như kế toán, kiểm toán, <a href=""><strong>báo cáo tài chính</strong></a>, quyết toán thuế,…, và được giấy chứng nhận đơn vị đạt chuẩn của Hội Kế Toán và Kiểm Toán Việt Nam cấp phép.</p>
                            <p>- Chúng tôi luôn có đội ngũ nhân viên hùng mạnh với trình độ chuyên môn đạt chuẩn, luôn được nâng cao kiến thức, đào tạo sâu thêm cùng thái độ làm việc nhanh nhẹn, giải quyết dễ dàng mọi vấn đề phát sinh</p>
                            <p>- Click 49 cam kết bảo mật 100% thông tin của doanh nghiệp, bàn giao sổ sách, hóa đơn theo đúng yêu cầu của khách hàng và chịu hoàn toàn mọi trách nhiệm nếu vi phạm hợp đồng đã kí kết.</p>
                            <p>- Click 49 là đơn vị có thời gian thành lập lâu năm với kinh nghiệm chuyên nghiệp nhất về các vấn đề như kế toán, kiểm toán, <a href=""><strong>báo cáo tài chính</strong></a>, quyết toán thuế,…, và được giấy chứng nhận đơn vị đạt chuẩn của Hội Kế Toán và Kiểm Toán Việt Nam cấp phép.</p>
                            <p>- Chúng tôi luôn có đội ngũ nhân viên hùng mạnh với trình độ chuyên môn đạt chuẩn, luôn được nâng cao kiến thức, đào tạo sâu thêm cùng thái độ làm việc nhanh nhẹn, giải quyết dễ dàng mọi vấn đề phát sinh</p>
                            <p>- Click 49 cam kết bảo mật 100% thông tin của doanh nghiệp, bàn giao sổ sách, hóa đơn theo đúng yêu cầu của khách hàng và chịu hoàn toàn mọi trách nhiệm nếu vi phạm hợp đồng đã kí kết.</p>
                            <p>- Click 49 là đơn vị có thời gian thành lập lâu năm với kinh nghiệm chuyên nghiệp nhất về các vấn đề như kế toán, kiểm toán, <a href=""><strong>báo cáo tài chính</strong></a>, quyết toán thuế,…, và được giấy chứng nhận đơn vị đạt chuẩn của Hội Kế Toán và Kiểm Toán Việt Nam cấp phép.</p>
                            <p>- Chúng tôi luôn có đội ngũ nhân viên hùng mạnh với trình độ chuyên môn đạt chuẩn, luôn được nâng cao kiến thức, đào tạo sâu thêm cùng thái độ làm việc nhanh nhẹn, giải quyết dễ dàng mọi vấn đề phát sinh</p>
                            <p>- Click 49 cam kết bảo mật 100% thông tin của doanh nghiệp, bàn giao sổ sách, hóa đơn theo đúng yêu cầu của khách hàng và chịu hoàn toàn mọi trách nhiệm nếu vi phạm hợp đồng đã kí kết.</p>
                            <p>- Click 49 là đơn vị có thời gian thành lập lâu năm với kinh nghiệm chuyên nghiệp nhất về các vấn đề như kế toán, kiểm toán, <a href=""><strong>báo cáo tài chính</strong></a>, quyết toán thuế,…, và được giấy chứng nhận đơn vị đạt chuẩn của Hội Kế Toán và Kiểm Toán Việt Nam cấp phép.</p>
                            <p>- Chúng tôi luôn có đội ngũ nhân viên hùng mạnh với trình độ chuyên môn đạt chuẩn, luôn được nâng cao kiến thức, đào tạo sâu thêm cùng thái độ làm việc nhanh nhẹn, giải quyết dễ dàng mọi vấn đề phát sinh</p>
                            <p>- Click 49 cam kết bảo mật 100% thông tin của doanh nghiệp, bàn giao sổ sách, hóa đơn theo đúng yêu cầu của khách hàng và chịu hoàn toàn mọi trách nhiệm nếu vi phạm hợp đồng đã kí kết.</p>
                            <p>- Click 49 là đơn vị có thời gian thành lập lâu năm với kinh nghiệm chuyên nghiệp nhất về các vấn đề như kế toán, kiểm toán, <a href=""><strong>báo cáo tài chính</strong></a>, quyết toán thuế,…, và được giấy chứng nhận đơn vị đạt chuẩn của Hội Kế Toán và Kiểm Toán Việt Nam cấp phép.</p>
                            <p>- Chúng tôi luôn có đội ngũ nhân viên hùng mạnh với trình độ chuyên môn đạt chuẩn, luôn được nâng cao kiến thức, đào tạo sâu thêm cùng thái độ làm việc nhanh nhẹn, giải quyết dễ dàng mọi vấn đề phát sinh</p>
                            <p>- Click 49 cam kết bảo mật 100% thông tin của doanh nghiệp, bàn giao sổ sách, hóa đơn theo đúng yêu cầu của khách hàng và chịu hoàn toàn mọi trách nhiệm nếu vi phạm hợp đồng đã kí kết.</p>
                            <p>- Click 49 là đơn vị có thời gian thành lập lâu năm với kinh nghiệm chuyên nghiệp nhất về các vấn đề như kế toán, kiểm toán, <a href=""><strong>báo cáo tài chính</strong></a>, quyết toán thuế,…, và được giấy chứng nhận đơn vị đạt chuẩn của Hội Kế Toán và Kiểm Toán Việt Nam cấp phép.</p>
                            <p>- Chúng tôi luôn có đội ngũ nhân viên hùng mạnh với trình độ chuyên môn đạt chuẩn, luôn được nâng cao kiến thức, đào tạo sâu thêm cùng thái độ làm việc nhanh nhẹn, giải quyết dễ dàng mọi vấn đề phát sinh</p>
                            <p>- Click 49 cam kết bảo mật 100% thông tin của doanh nghiệp, bàn giao sổ sách, hóa đơn theo đúng yêu cầu của khách hàng và chịu hoàn toàn mọi trách nhiệm nếu vi phạm hợp đồng đã kí kết.</p>
                            <div class="mt-30 mb-0">
                                <h5 class="pull-left mt-10 mr-20 text-theme-colored2">Chia sẽ:</h5>
                                <ul class="styled-icons icon-circled m-0">
                                    <li><a href="#" data-bg-color="#3A5795"><i class="fa fa-facebook text-white"></i></a></li>
                                    <li><a href="#" data-bg-color="#55ACEE"><i class="fa fa-twitter text-white"></i></a></li>
                                    <li><a href="#" data-bg-color="#A11312"><i class="fa fa-google-plus text-white"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </article>
                    <div class="tagline p-0 pt-10 mt-5">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="tags">
                                    <p class="mb-0"><i class="fa fa-tags text-theme-colored2"></i> <span>Nhãn:</span> dịch vụ kế toán, công ty kế toán, dịch vụ quyết toán thuế, dịch vụ bảo hiểm xã hội</p>
                                </div>
                            </div>
                        </div>
                    </div>                    
                </div>
            </div>
        </div>
    </div>
</section>