<div class="container">
    <div class="section-content">
        <div class="row">
            <div class="col-md-6">
                <div class="box-hover-effect play-button">
                    <div class="effect-wrapper">
                        <div class="thumb">
                            <%= image_tag '/hcmut/images/about/5.jpg', alt: '', class: 'img-fullwidth' %>
                        </div>
                        <div class="overlay-shade"></div>
                        <div class="text-holder text-holder-middle">
                            <a href="https://www.youtube.com/watch?v=F3QpgXBtDeo" data-lightbox-gallery="youtube-video" title="Youtube Video"><img alt="" src="/hcmut/images/play-button/s1.png"></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <h2 class="text-uppercase mt-0 mt-sm-30">The Different Financial Help For Grow Up Business</h2>
                <h4 class="text-theme-colored text-justify">Lorem ipsum dolor sit amet soluta saepe odit error, maxime praesentium sunt udiandae!</h4>
                <p class="text-justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore atque officiis maxime suscipit expedita obcaecati nulla in ducimus iure quos quam recusandae eveniet fuga modi pariatur, eius vero. Ea vitae maiores.</p>
                <div class="singnature mt-20"><%= image_tag '/hcmut/images/signature.png', alt: '' %></div>
                <%= link_to 'VỀ CHÚNG TÔI', erp_hcmut.about_us_path, title: 'VỀ CHÚNG TÔI', class: 'btn btn-flat btn-colored btn-theme-colored mt-15 mr-15' %>
                <%= link_to 'GIỚI THIỆU DỊCH VỤ', erp_hcmut.service_listing_path, title: 'GIỚI THIỆU DỊCH VỤ', class: 'btn btn-flat text-white btn-colored btn-theme-colored2 mt-15' %>
            </div>
        </div>
    </div>
</div>