<div class="container pt-10 pb-0">
    <div class="row">
        <div class="col-md-12">
            <!-- Section: Clients -->
            <div class="owl-carousel-6col text-center">
                <% (0..9).each do |client| %>
                    <div class="item">
                        <%= link_to image_tag('/hcmut/images/clients/w1.png', alt: ''), '', title: '' %>
                    </div>
                <% end %>
            </div>
        </div>
    </div>
</div>