<!-- Section: inner-header -->
<section class="inner-header divider parallax layer-overlay overlay-dark-5" data-bg-img="/hcmut/images/bg/slide1.jpg">
    <div class="container pt-70 pb-20">
        <!-- Section Content -->
        <div class="section-content">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="title text-white">GIỚI THIỆU</h1>
                    <ol class="breadcrumb text-left text-black mt-10">
                        <li><%= link_to 'Trang Chủ', erp_hcmut.root_path %></li>
                        <li class="active text-gray-silver">Giới Thiệu</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Section: Blog -->
<section>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="blog-posts single-post">
                    <article class="post clearfix mb-0">                        
                        <div class="entry-title pt-10 pl-15 text-justify">
                            <h2>
                                <%= link_to 'GIỚI THIỆU', erp_hcmut.about_us_path, title: '', class: 'text-uppercase' %>
                            </h2>
                        </div>
                        <div class="entry-header">
                            <div class="post-thumb thumb">
                                <img src="/hcmut/images/bg/bg1.jpg" alt="" class="img-responsive img-fullwidth">
                            </div>
                        </div>
                        <div class="entry-content mt-10 text-justify">
                            <p>- Click 49 là đơn vị có thời gian thành lập lâu năm với kinh nghiệm chuyên nghiệp nhất về các vấn đề như kế toán, kiểm toán, <a href=""><strong>báo cáo tài chính</strong></a>, quyết toán thuế,…, và được giấy chứng nhận đơn vị đạt chuẩn của Hội Kế Toán và Kiểm Toán Việt Nam cấp phép.</p>
                            <p>- Chúng tôi luôn có đội ngũ nhân viên hùng mạnh với trình độ chuyên môn đạt chuẩn, luôn được nâng cao kiến thức, đào tạo sâu thêm cùng thái độ làm việc nhanh nhẹn, giải quyết dễ dàng mọi vấn đề phát sinh</p>
                            <p>- Click 49 cam kết bảo mật 100% thông tin của doanh nghiệp, bàn giao sổ sách, hóa đơn theo đúng yêu cầu của khách hàng và chịu hoàn toàn mọi trách nhiệm nếu vi phạm hợp đồng đã kí kết.</p>
                            <p>- Click 49 là đơn vị có thời gian thành lập lâu năm với kinh nghiệm chuyên nghiệp nhất về các vấn đề như kế toán, kiểm toán, <a href=""><strong>báo cáo tài chính</strong></a>, quyết toán thuế,…, và được giấy chứng nhận đơn vị đạt chuẩn của Hội Kế Toán và Kiểm Toán Việt Nam cấp phép.</p>
                            <p>- Chúng tôi luôn có đội ngũ nhân viên hùng mạnh với trình độ chuyên môn đạt chuẩn, luôn được nâng cao kiến thức, đào tạo sâu thêm cùng thái độ làm việc nhanh nhẹn, giải quyết dễ dàng mọi vấn đề phát sinh</p>
                            <p>- Click 49 cam kết bảo mật 100% thông tin của doanh nghiệp, bàn giao sổ sách, hóa đơn theo đúng yêu cầu của khách hàng và chịu hoàn toàn mọi trách nhiệm nếu vi phạm hợp đồng đã kí kết.</p>
                            <p>- Click 49 là đơn vị có thời gian thành lập lâu năm với kinh nghiệm chuyên nghiệp nhất về các vấn đề như kế toán, kiểm toán, <a href=""><strong>báo cáo tài chính</strong></a>, quyết toán thuế,…, và được giấy chứng nhận đơn vị đạt chuẩn của Hội Kế Toán và Kiểm Toán Việt Nam cấp phép.</p>
                            <p>- Chúng tôi luôn có đội ngũ nhân viên hùng mạnh với trình độ chuyên môn đạt chuẩn, luôn được nâng cao kiến thức, đào tạo sâu thêm cùng thái độ làm việc nhanh nhẹn, giải quyết dễ dàng mọi vấn đề phát sinh</p>
                            <p>- Click 49 cam kết bảo mật 100% thông tin của doanh nghiệp, bàn giao sổ sách, hóa đơn theo đúng yêu cầu của khách hàng và chịu hoàn toàn mọi trách nhiệm nếu vi phạm hợp đồng đã kí kết.</p>
                            <p>- Click 49 là đơn vị có thời gian thành lập lâu năm với kinh nghiệm chuyên nghiệp nhất về các vấn đề như kế toán, kiểm toán, <a href=""><strong>báo cáo tài chính</strong></a>, quyết toán thuế,…, và được giấy chứng nhận đơn vị đạt chuẩn của Hội Kế Toán và Kiểm Toán Việt Nam cấp phép.</p>
                            <p>- Chúng tôi luôn có đội ngũ nhân viên hùng mạnh với trình độ chuyên môn đạt chuẩn, luôn được nâng cao kiến thức, đào tạo sâu thêm cùng thái độ làm việc nhanh nhẹn, giải quyết dễ dàng mọi vấn đề phát sinh</p>
                            <p>- Click 49 cam kết bảo mật 100% thông tin của doanh nghiệp, bàn giao sổ sách, hóa đơn theo đúng yêu cầu của khách hàng và chịu hoàn toàn mọi trách nhiệm nếu vi phạm hợp đồng đã kí kết.</p>
                            <p>- Click 49 là đơn vị có thời gian thành lập lâu năm với kinh nghiệm chuyên nghiệp nhất về các vấn đề như kế toán, kiểm toán, <a href=""><strong>báo cáo tài chính</strong></a>, quyết toán thuế,…, và được giấy chứng nhận đơn vị đạt chuẩn của Hội Kế Toán và Kiểm Toán Việt Nam cấp phép.</p>
                            <p>- Chúng tôi luôn có đội ngũ nhân viên hùng mạnh với trình độ chuyên môn đạt chuẩn, luôn được nâng cao kiến thức, đào tạo sâu thêm cùng thái độ làm việc nhanh nhẹn, giải quyết dễ dàng mọi vấn đề phát sinh</p>
                            <p>- Click 49 cam kết bảo mật 100% thông tin của doanh nghiệp, bàn giao sổ sách, hóa đơn theo đúng yêu cầu của khách hàng và chịu hoàn toàn mọi trách nhiệm nếu vi phạm hợp đồng đã kí kết.</p>
                            <p>- Click 49 là đơn vị có thời gian thành lập lâu năm với kinh nghiệm chuyên nghiệp nhất về các vấn đề như kế toán, kiểm toán, <a href=""><strong>báo cáo tài chính</strong></a>, quyết toán thuế,…, và được giấy chứng nhận đơn vị đạt chuẩn của Hội Kế Toán và Kiểm Toán Việt Nam cấp phép.</p>
                            <p>- Chúng tôi luôn có đội ngũ nhân viên hùng mạnh với trình độ chuyên môn đạt chuẩn, luôn được nâng cao kiến thức, đào tạo sâu thêm cùng thái độ làm việc nhanh nhẹn, giải quyết dễ dàng mọi vấn đề phát sinh</p>
                            <p>- Click 49 cam kết bảo mật 100% thông tin của doanh nghiệp, bàn giao sổ sách, hóa đơn theo đúng yêu cầu của khách hàng và chịu hoàn toàn mọi trách nhiệm nếu vi phạm hợp đồng đã kí kết.</p>
                        </div>
                    </article>                   
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Section: About -->
<section class="">
    <%= render "erp/hcmut/frontend/modules/home/about" %>
</section>

<!-- Section: Service -->
<section id="service" class="bg-lighter">
    <%= render "erp/hcmut/frontend/modules/home/services" %>
</section>