h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: sans-serif;
}
.breadcrumb li a {
    color: #fff;
    font-weight: bold;
}
section > .container, section > .container-fluid {
    padding-top: 20px;
    padding-bottom: 20px;
}
.blog-posts.single-post img {
    width: 100%;
    height: auto;
    padding-top: 10px;
}
.tagline .tags p {
    font-style: italic;
}
span.required {
    color: #ff0000;
}
.pagination-hcmut {
    text-align: right;
}
.pagination-hcmut ul.pagination.pagination {
    margin: 0 0 10px 0;
}
.pagination-hcmut .row.pagination-row div:first-child div {
    display: none;
}