<div class="sidebar sidebar-left mt-sm-30 ml-40">
    <div class="widget">
        <h4 class="widget-title line-bottom">Danh Sách <span class="text-theme-colored2">Dịch Vụ</span></h4>
        <div class="services-list">
            <ul class="list list-border">
                <% Erp::Finances::Service.get_services.each do |service| %>
                    <% if service.id == params[:service_id].to_i %><li class="active"><% else %><li><% end %>
                        <%= link_to service.get_name, service_link(service), title: service.get_name %>
                    </li>
                <% end %>
            </ul>
        </div>
    </div>
    <% if service.brochures_url.present? || service.link_docs.present? %>
    <div class="widget">
        <h4 class="widget-title line-bottom mt-30"><i class="fa fa-download mr-10 text-theme-colored"></i>Tải Về <span class="text-theme-colored2">Tài Liệu</span></h4>
        <hr class="mt-0">
        <ul class="nav nav-pills nav-stacked nav-sidebar">
            <% if service.brochures_url.present? %>
                <li><%= link_to '<i class="fa fa-file-pdf-o text-theme-colored2"></i> Tài liệu giới thiệu'.html_safe, service.brochures_url %></li>
            <% end %>
            <% if service.link_docs.present? %>
                <li><%= link_to '<i class="fa fa-cloud-download text-theme-colored2"></i> Tài liệu khác'.html_safe, service.link_docs %></li>
            <% end %>
        </ul>
    </div>
    <% end %>
    <div class="widget">
        <h4 class="widget-title line-bottom">Giờ <span class="text-theme-colored2">Làm Việc</span></h4>
        <div class="opening-hours">
            <ul class="list-border">
                <li class="clearfix">
                    <span>Thứ 2 - Thứ 6:</span>
                    <div class="value pull-right">7:00 - 18:00</div>
                </li>
                <li class="clearfix">
                    <span> Thứ 7:</span>
                    <div class="value pull-right">7:00 - 12:00</div>
                </li>
                <li class="clearfix">
                    <span>Chủ Nhật:</span>
                    <div class="value pull-right">Không làm việc</div>
                </li>
                <li class="clearfix">
                    <span>Ngày lễ:</span>
                    <div class="value pull-right">Không làm việc</div>
                </li>
            </ul>
        </div>
    </div>    
</div>