<div class="widget dark">
    <%= image_tag '/hcmut/images/logo-wide-white.png', alt: '', class: 'mt-10 mb-20' %>
    <p>188 Đường Số 1, Phường 16, Quận Gò Vấp, TP. Hồ Chí Minh</p>
    <ul class="mt-5">
        <li class="m-0 pl-0 pr-10">
            <i class="fa fa-phone text-theme-colored mr-5"></i>
            <a class="text-gray" href="#">123-456-789</a>
        </li>
        <li class="m-0 pl-0 pr-10">
            <i class="fa fa-envelope-o text-theme-colored mr-5"></i>
            <a class="text-gray" href="#">contact@yourdomain.com</a>
        </li>
        <li class="m-0 pl-0 pr-10">
            <i class="fa fa-globe text-theme-colored mr-5"></i>
            <a class="text-gray" href="#">www.yourdomain.com</a>
        </li>
        <li class="m-0 pl-0 pr-10">
            <i class="fa fa-skype text-theme-colored mr-5"></i>
            <a class="text-gray" href="#">nguyenngocson0811</a>
        </li>
    </ul>
</div>