<div class="container pt-10 pb-0">
    <div class="row">
        <div class="col-md-6 sm-text-center">
            <p class="font-13 text-black-777 m-0">
                Copyright &copy; 2017
                <%= link_to 'Công Ty Kế Toán', erp_hcmut.root_path, title: '' %>.
                All Rights Reserved.
            </p>
        </div>
        <div class="col-md-6 text-right flip sm-text-center">
            <div class="widget no-border m-0">
                <ul class="styled-icons icon-dark icon-circled icon-sm">
                    <li>
                        <a href="" data-bg-color="#3B5998" style="background: rgb(59, 89, 152) !important;">
                            <i class="fa fa-facebook"></i>
                        </a>
                    </li>
                    <li>
                        <a href="" data-bg-color="#D71619" style="background: rgb(215, 22, 25) !important;">
                            <i class="fa fa-google-plus"></i>
                        </a>
                    </li>
                    <li>
                        <a href="" data-bg-color="#F52525" style="background: rgb(245, 37, 37) !important;">
                            <i class="fa fa-youtube"></i>
                        </a>
                    </li>
                    <li>
                        <a href="" data-bg-color="#3BBEF4" style="background: rgb(59, 190, 244) !important;">
                            <i class="fa fa-skype"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>