<div class="widget dark">
    <h5 class="widget-title line-bottom">DỊCH VỤ KẾ TOÁN</h5>
    <div class="categories">
        <ul class="list-border">
            <% Erp::Finances::Service.get_services.each do |service| %>
            <li><%= link_to '<span>'.html_safe + service.get_name + '</span>'.html_safe,
                            service_link(service), title: service.get_name %></li>
            <% end %>
        </ul>
    </div>
</div>