<div class="widget dark">
    <h5 class="widget-title line-bottom">GIỜ LÀM VIỆC</h5>
    <div class="opening-hours">
        <ul class="list-border">
            <li class="clearfix text-white">
                <span>Thứ 2 - Thứ 6:</span>
                <div class="value pull-right">7:00 - 18:00</div>
            </li>
            <li class="clearfix">
                <span> Thứ 7:</span>
                <div class="value pull-right">7:00 - 12:00</div>
            </li>
            <li class="clearfix">
                <span>Chủ Nhật:</span>
                <div class="value pull-right">Không làm việc</div>
            </li>
            <li class="clearfix">
                <span>Ngày lễ:</span>
                <div class="value pull-right">Không làm việc</div>
            </li>
        </ul>
    </div>
</div>